In [1]:
train_file_path = r"C:\Users\fazlu\Machine Learning Projects\machine-learning-regression-project\housing\artifact\data_ingestion\22-08-28-12-50-18\ingested_data\train\housing.csv"

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv(train_file_path)

In [4]:
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-121.46,38.52,29.0,3873.0,797.0,2237.0,706.0,2.1736,72100.0,INLAND
1,-117.23,33.09,7.0,5320.0,855.0,2015.0,768.0,6.3373,279600.0,NEAR OCEAN
2,-119.04,35.37,44.0,1618.0,310.0,667.0,300.0,2.8750,82700.0,INLAND
3,-117.13,32.75,24.0,1877.0,519.0,898.0,483.0,2.2264,112500.0,NEAR OCEAN
4,-118.70,34.28,27.0,3536.0,646.0,1837.0,580.0,4.4964,238300.0,<1H OCEAN
...,...,...,...,...,...,...,...,...,...,...
16507,-117.07,33.03,14.0,6665.0,1231.0,2026.0,1001.0,5.0900,268500.0,<1H OCEAN
16508,-121.42,38.51,15.0,7901.0,1422.0,4769.0,1418.0,2.8139,90400.0,INLAND
16509,-122.72,38.44,48.0,707.0,166.0,458.0,172.0,3.1797,140400.0,<1H OCEAN
16510,-122.70,38.31,14.0,3155.0,580.0,1208.0,501.0,4.1964,258100.0,<1H OCEAN
16511,-122.14,39.97,27.0,1079.0,222.0,625.0,197.0,3.1319,62700.0,INLAND

In [5]:
df.shape

(16512, 10)

In [6]:
df["median_house_value"]

0         72100.0
1        279600.0
2         82700.0
3        112500.0
4        238300.0
           ...
16507    268500.0
16508     90400.0
16509    140400.0
16510    258100.0
16511     62700.0
Name: median_house_value, Length: 16512, dtype: float64

In [7]:
x,y = df.drop(columns=["median_house_value"], axis=1), df[["median_house_value"]]

In [8]:
x.shape

(16512, 9)

In [9]:
y.shape

(16512, 1)

In [10]:
x.isna().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        158
population              0
households              0
median_income           0
ocean_proximity         0
dtype: int64

In [11]:
from sklearn.impute import SimpleImputer

In [12]:
numerical_column = x.drop(columns=['ocean_proximity'], axis=1)

In [13]:
numerical_column

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income
0,-121.46,38.52,29.0,3873.0,797.0,2237.0,706.0,2.1736
1,-117.23,33.09,7.0,5320.0,855.0,2015.0,768.0,6.3373
2,-119.04,35.37,44.0,1618.0,310.0,667.0,300.0,2.8750
3,-117.13,32.75,24.0,1877.0,519.0,898.0,483.0,2.2264
4,-118.70,34.28,27.0,3536.0,646.0,1837.0,580.0,4.4964
...,...,...,...,...,...,...,...,...
16507,-117.07,33.03,14.0,6665.0,1231.0,2026.0,1001.0,5.0900
16508,-121.42,38.51,15.0,7901.0,1422.0,4769.0,1418.0,2.8139
16509,-122.72,38.44,48.0,707.0,166.0,458.0,172.0,3.1797
16510,-122.70,38.31,14.0,3155.0,580.0,1208.0,501.0,4.1964
16511,-122.14,39.97,27.0,1079.0,222.0,625.0,197.0,3.1319

In [14]:
simple_imputer = SimpleImputer(strategy="median")

In [15]:
simple_imputer.fit_transform(numerical_column)

array([[-1.2146e+02,  3.8520e+01,  2.9000e+01, ...,  2.2370e+03,
         7.0600e+02,  2.1736e+00],
       [-1.1723e+02,  3.3090e+01,  7.0000e+00, ...,  2.0150e+03,
         7.6800e+02,  6.3373e+00],
       [-1.1904e+02,  3.5370e+01,  4.4000e+01, ...,  6.6700e+02,
         3.0000e+02,  2.8750e+00],
       ...,
       [-1.2272e+02,  3.8440e+01,  4.8000e+01, ...,  4.5800e+02,
         1.7200e+02,  3.1797e+00],
       [-1.2270e+02,  3.8310e+01,  1.4000e+01, ...,  1.2080e+03,
         5.0100e+02,  4.1964e+00],
       [-1.2214e+02,  3.9970e+01,  2.7000e+01, ...,  6.2500e+02,
         1.9700e+02,  3.1319e+00]])

In [16]:
simple_imputer.feature_names_in_

array(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income'],
      dtype=object)

In [17]:
simple_imputer.statistics_

array([-118.51   ,   34.26   ,   29.     , 2119.     ,  433.     ,
       1164.     ,  408.     ,    3.54155])

In [18]:
x.longitude.median()

-118.51

In [19]:
x.latitude.median()

34.26

In [20]:
df = simple_imputer.transform(numerical_column)

In [21]:
x.ocean_proximity

0            INLAND
1        NEAR OCEAN
2            INLAND
3        NEAR OCEAN
4         <1H OCEAN
            ...
16507     <1H OCEAN
16508        INLAND
16509     <1H OCEAN
16510     <1H OCEAN
16511        INLAND
Name: ocean_proximity, Length: 16512, dtype: object

In [22]:
x.ocean_proximity.value_counts()

<1H OCEAN     7277
INLAND        5262
NEAR OCEAN    2124
NEAR BAY      1847
ISLAND           2
Name: ocean_proximity, dtype: int64

In [23]:
simple_imputer = SimpleImputer(strategy="most_frequent")

In [24]:
from sklearn.base import BaseEstimator, TransformerMixin

In [25]:
class FeatureGenerator:
    def __init__(self, strategy="median"):
        self.strategy = strategy 
        
    def fit(self,X):
        self.features_ = X.columns 
        self.Statistic_ = [] 
        for column in X.columns:
            self.Statistic_.append(X[column].median()) 
            
    def transform(self, X:pd.DataFrame):
        for idx.column in enumerate(x.columns):
            X[column].fillna(self.Statistic_[idx]) 
        return X 
    
    def fit_transform(self, X):
        self.fit(X) 
        return self.transform(X)

In [26]:
class FeatureGenerator(BaseEstimator, TransformerMixin):
    def __init__(self, strategy="median"):
        self.strategy = strategy 
        
    def fit(self,X):
        self.features_ = X.columns 
        self.Statistic_ = [] 
        for column in X.columns:
            self.Statistic_.append(X[column].median()) 
            
    def transform(self, X:pd.DataFrame):
        for idx.column in enumerate(x.columns):
            X[column].fillna(self.Statistic_[idx]) 
        return X

In [27]:
for idx,column in enumerate(x.columns):
    print(idx, column)

0 longitude
1 latitude
2 housing_median_age
3 total_rooms
4 total_bedrooms
5 population
6 households
7 median_income
8 ocean_proximity

In [34]:
class Test(BaseEstimator, TransformerMixin):
    def __init__(self, strategy="median"):
        self.strategy = strategy 
        
    def fit(self,X):
        self.features_ = X.columns 
        self.Statistic_ = []  
        for column in X.columns:
            self.Statistic_.append(X[column].median()) 
        return self
            
    def transform(self, X:pd.DataFrame):
        for idx.column in enumerate(x.columns):
            X[column].fillna(self.Statistic_[idx]) 
        return X

In [35]:
response = Test().fit(numerical_column)

In [37]:
response.Statistic_

[-118.51, 34.26, 29.0, 2119.0, 433.0, 1164.0, 408.0, 3.54155]

In [28]:
import numpy as np

In [29]:
x.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'ocean_proximity'],
      dtype='object')

In [ ]:
COLUMN_TOTAL_ROOMS = "total_rooms"
COLUMN_POPULATION = "population" 
COLUMN_HOUSEHOLDS = "households" 
COLUMN_TOTAL_BEDROOM = "total_bedrooms" 



class FeatureGenerator(BaseEstimator, TransformerMixin):
    
    def __init__(self, add_bedrooms_per_room=True,
                 total_rooms_ix=3,
                 population_ix=5,
                 households_ix=6,
                 total_bedrooms_ix=4, columns=None):
        """
            FeatureGenerator Initaialization 
            add_bedrooms_per_room: bool
             total_rooms_ix: int index number of total rooms columns 
             population_ix: int, index number of total population columns 
             households_ix: int, index number of total households columns 
             total_bedrooms_ix: int,index number of total bedrooms columns 

        Args:
            add_bedrooms_per_room (bool, optional): _description_. Defaults to True.
            total_rooms_ix (int, optional): _description_. Defaults to 3.
            population_ix (int, optional): _description_. Defaults to 5.
            households_ix (int, optional): _description_. Defaults to 6.
            total_bedrooms_ix (int, optional): _description_. Defaults to 4.
            columns (_type_, optional): _description_. Defaults to None.
        """
        try:
            self.columns = columns 
            if self.columns is not None:
                total_rooms_ix = self.columns.index(COLUMN_TOTAL_ROOMS)
                population_ix = self.columns.index(COLUMN_POPULATION) 
                households_ix = self.columns.index(COLUMN_HOUSEHOLDS) 
                total_bedrooms_ix = self.columns.index(COLUMN_TOTAL_BEDROOM) 
                
            self.add_bedrooms_per_room = add_bedrooms_per_room 
            self.total_rooms_ix = total_rooms_ix 
            self.population_ix = population_ix 
            self.households_ix = households_ix 
            self.total_bedrooms_ix = total_bedrooms_ix 
        except Exception as e:
            raise  e  
        
    
    def fit(self, X, y=None):
        return self 
    
    
    def transform(self, X, y=None):
        try:
            room_per_household = X[:, self.total_rooms_ix] / X[:, self.households_ix] 
            
            population_per_household = X[:, self.population_ix] / X[:, self.households_ix] 
            
            if self.add_bedrooms_per_room:
                bedrooms_per_room = X[:, self.total_bedrooms_ix]/X[:, self.total_rooms_ix] 
                generated_feature = np.c_[X, room_per_household, population_per_household, bedrooms_per_room]  
                
            else:
                generated_feature = np.c_[X, room_per_household, population_per_household] 
                
            return generated_feature 
        
        except Exception as e:
            raise e